<div class="container">
  <mat-toolbar  class="toolbar">
        <h1 class="example-app-name">{{title}}</h1>
      </mat-toolbar>
      <div class="sidebar-container"> 
        <div class="sidebar">
          <mat-nav-list>
            <a mat-list-item  *ngFor="let nav of fillerNav; let i=index;" routerLinkActive="active-link" [routerLink]="[nav.url]" (click)="setHeaderText(nav.titleName)">
               <img class="icon" [src]="'../../../assets/'+nav.icon+'.png'" alt=""> 
            </a>
          </mat-nav-list>
        </div>
        <div class="content">
         <router-outlet></router-outlet>
        </div>
      </div>
</div>
